{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block js_dependencies %}
{% if page is defined %}
        {% if 'mathjax' in page.metadata %}
        <!-- MathJax -->
        <script type="text/javascript" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
        {% endif %}
        {% if 'mermaid' in page.metadata %}
        <!-- Mermaid -->
        <script type="module">
            import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
            mermaid.initialize({ startOnLoad: true });
        </script>
        {% endif %}
        {% endif %}
{% endblock %}
{% block content %}  
{% block content %}        
<header>
    <h1><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> :
        <a href="{{ SITEURL }}/{{ page.url }}" id="page-title">{{ page.title }}</a></h1>
</header>
<article>    
    {{ page.content }}
</article>
{% endblock %}
